<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOperacao" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOperacao" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/Mensagem" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOperacao" contract="ServicoOperacao.IOperacao"
                name="NetTcpBinding_IOperacao">
                <identity>
                    <userPrincipalName value="MIKE-NOT\Mike" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9091/Mensagem" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOperacao" contract="ServicoOperacao.IOperacao"
                name="Operacao" />
        </client>
    </system.serviceModel>
</configuration>